* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 15px 20px;
}

.left-links {
  display: flex;
  align-items: center;
}

.left-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.5rem;
  padding: 15px;
}

.left-links a:hover{
  color: #867f7f;
  border-radius: 20px;
}
.right-links {
  display: flex;
  align-items: center;
}

.right-links button {
  color: #fff;
  background-color: #4CAF50;
  border: none;
  padding: 5px 15px;
  margin-left: 20px;
  cursor: pointer;
}

.right-links button:hover {
  background-color: #3e8e41;
}

.right-links .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  transition: background-color 0.3s ease;
}

.right-links .btn-login {
  margin-right: 1rem;
}

.right-links .btn i {
  margin-right: 0.5rem;
}

.right-links .btn:hover {
  background-color: #756f6f;
}

/* -----------------------Home----------------------- */
#home {
  background-image: url("/Pictures/bg-home.jpg");
  height: 1200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-color: #000000;
  color: #fff;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#home h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  
}

#home .animated-text{
  overflow: hidden;
  border-right: 0.15em solid rgb(250, 249, 247);
  white-space: nowrap;
  font-size: 4rem;
  width: 0;
  animation: wipe-in 5s steps(60,end) forwards infinite;
}
@keyframes wipe-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#home p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 30rem;
  opacity: 0;
  transition: opacity 1s ease;
  animation: fade-in 5s forwards infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#home .cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#home .cta-buttons a {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

#home .cta-buttons a:hover {
  background-color: #f5f5f5;
}

/* -----------------------About---------------------------------- */

#about {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #f5f5f5;
}

.bar-graph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.bar-container {
  position: relative;
  width: 45%;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff0000;
  transition: height 0.5s ease-in-out;
}

.bar-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #141010;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.bar-label .number {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.bar-label .text {
  font-size: 1.2rem;
  text-transform: none;
}

#about h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#about p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* ------------------------Foot Features---------------------- */
#features {
  background-color: #f5f5f5;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#features h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#features li {
  flex-basis: calc(33.33% - 2rem);
  margin-bottom: 2rem;
}

#features h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#features p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 30%;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #features li {
    flex-basis: calc(50% - 2rem);
  }
}

@media screen and (max-width: 480px) {
  #features li {
    flex-basis: 100%;
  }

  #features h2 {
    font-size: 1.5rem;
  }

  #hero h1 {
    font-size: 2.5rem;
  }

  #hero p {
    font-size: 1rem;
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer p {
  margin: 0;
}


.upper-arrow {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.upper-arrow:hover {
  opacity: 0.7;
}
